doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://unpkg.com/purecss@1.0.0/build/base-min.css')
    link(rel='stylesheet', href='https://unpkg.com/purecss@1.0.0/build/grids-min.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.3.1/css/all.css', integrity='sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU', crossorigin='anonymous')
    link(rel='stylesheet', href='/css/site.css')
    link(rel='stylesheet', href='/node_modules/paper-css/paper.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/css/flag-icon.css' integrity='sha256-9MbYWPlETRYDxprjQWUUAkiU6JtQaY1EustxQWdQwhk=', crossorigin='anonymous')
    script(src='/node_modules/amcharts3/amcharts/amcharts.js')
    script(src='/node_modules/amcharts3/amcharts/serial.js')
    script(src='/node_modules/amcharts3/amcharts/gauge.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/wordcloud2.js/1.1.0/wordcloud2.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.js')
    script(src='/amcharts-theme.js')
    script(src='/data.js')
    include mixins/_data
    +data(report)

    style.
      @page { size: letter }
  body.letter(style='-webkit-print-color-adjust:exact;')
    block content
  footer
    script.
      if(window.__notifyPageRenderFinished) {
        window.__notifyPageRenderFinished();
      }