extends layout

//- Demo chart JS and Template
include mixins/_widgets

//- Core report layout
block content
  section.sheet.padding-10mm
    header
      p.report-date
        strong Report issued:
        | 01/01/2019
      h1
        | #{title}
        span.pill Core
    // Row #1
    div.box.row
      span.pill.top-right Overview
      div.group.pure-g
        div.pure-u-1-3
          +reputation
        div.pure-u-2-3
          h3 Key Points
          +influence_summary("influence-summary",120,15)
          hr
          h3 Recomendations
          +recommendations_summary("recommendations-summary",120,15)

      hr
      // Row #2
      div.group.pure-g
        div.pure-u-1-1
          h3 Career
          +timeline_career("timeline-career", 185, 45)

    // Row #3
    div.box.row
      div.group.pure-g
        div.pure-u-1-1
          h3 Additional Information

      div.group.pure-g
        div.pure-u-1-3
          h4 Culture &amp; Interests
          +interests_icons("culture-interests",62,18)
        div.pure-u-1-3
          h4 International Experience
          +international_experience("international-experience",62,18)
        div.pure-u-1-3
          h4 Languages
          +languages("languages",62,18)


    // Row #4
    div.group.pure-g.row
      div.pure-u-1-2
        div.box-inner
          h3 Profiled Skills
          +word_cloud("skills-cloud", 83, 48)
      div.pure-u-1-2
        div.box-inner.no-margin
          h3 Posting Activity
          div.group.pure-g
            div.pure-u-1-2
              +posting_activity("activity1", 47.5, 50, 'days', true)
            div.pure-u-1-2
              +posting_activity("activity2", 47.5, 50, 'times', false)

    // Row #5
    div.box.row.no-margin
      div.group.pure-g
        div.pure-u-3-5
          div.group.pure-g
            div.pure-u-1-3
              h3 Connections
              h4 By Site
            div.pure-u-2-3
              +connections_summary("connections-by-site", 65, 40)
        div.pure-u-2-5
          div.pure-u-1-3
            h3 Frequency
            h4 By Site
          div.pure-u-2-3
            +social_guage("social-guage", 50.6, 40)