@import 'partials/_colors';
@import 'partials/_sizes';
@import 'partials/_fonts';

// in Cloud 9, press [Ctrl]+[B] to build the SCSS into CSS
// Note sure what the shortcut will be in a MAC though

html, body, text tspan {
    font-family: 'ProximaNovaRgRegular';
    font-weight: normal;
    color: #5A6277;
}

// boxes
@import 'partials/_layout';

// Reputation Widget
@import 'partials/_amcharts';

// Reputation Widget
@import 'partials/_reputation';

// Connections Summary Widget
@import 'partials/_connections-summary';

// Personality Summary
@import 'partials/_personality-summary';

@import 'partials/_interests';

@import 'partials/_flags';

@import 'partials/_social-guage';

@import 'partials/_influence-summary';

@import 'partials/_recommendations-summary';

@import 'partials/_timeline';