section.sheet {
  background-color: #f3f7f8; }

ul li {
  color: #7f88ae; }

@font-face {
  font-family: 'ProximaNovaRgBold';
  src: url("https://cdn.jsdelivr.net/npm/font-proxima-nova@1.0.1/fonts/ProximaNova-Bold.eot");
  src: url("https://cdn.jsdelivr.net/npm/font-proxima-nova@1.0.1/fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/npm/font-proxima-nova@1.0.1/fonts/ProximaNova-Bold.woff") format("woff"), url("https://cdn.jsdelivr.net/npm/font-proxima-nova@1.0.1/fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNovaRgRegular';
  src: url("https://cdn.jsdelivr.net/npm/font-proxima-nova@1.0.1/fonts/ProximaNova-Regular.eot");
  src: url("https://cdn.jsdelivr.net/npm/font-proxima-nova@1.0.1/fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/npm/font-proxima-nova@1.0.1/fonts/ProximaNova-Regular.woff") format("woff"), url("https://cdn.jsdelivr.net/npm/font-proxima-nova@1.0.1/fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

h1 {
  margin-top: 0;
  padding-top: 0;
  font-size: 5mm; }

h1, h2, h3, .balloon-text {
  font-family: 'ProximaNovaRgBold';
  font-weight: normal; }

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0; }

h2 {
  font-size: 3.9mm; }

h3 {
  font-size: 3.7mm; }

h4, h5 {
  font-family: 'ProximaNovaRgRegular';
  color: #7f88ae;
  font-size: 3mm; }

p {
  font-family: 'ProximaNovaRgRegular';
  font-size: 3mm;
  color: #7f88ae;
  margin: 1.5mm 0; }

html, body, text tspan {
  font-family: 'ProximaNovaRgRegular';
  font-weight: normal;
  color: #5A6277; }

.sheet.padding-10mm {
  padding: 8mm 10mm; }

section {
  overflow: hidden; }

header {
  height: 16.5mm; }

h1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 3mm 0;
  font-size: 5mm; }

.row {
  position: relative;
  margin-bottom: 3.4mm; }
  .row.no-margin {
    margin-bottom: 0; }

.box {
  background-color: #FFFFFF;
  padding: 1.7mm;
  border-radius: 1.7mm; }
  .box hr {
    border: 0;
    padding: 1.7mm 0; }

.box-inner {
  background-color: #FFFFFF;
  padding: 1.7mm;
  border-radius: 1.7mm;
  margin-right: 3.4mm; }
  .box-inner.no-margin {
    margin-right: 0; }

.pill, h1 span.pill {
  font-family: 'ProximaNovaRgBold';
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  color: #fbda00;
  background-color: #28387a;
  min-width: 20mm;
  border-radius: 5.5mm;
  font-size: 2.5mm;
  text-transform: uppercase;
  height: 6mm; }

h1 span.pill {
  margin-left: 6mm; }

.pill.top-right {
  position: absolute;
  top: 3mm;
  right: 3mm; }

section.sheet:before {
  content: '';
  position: absolute;
  top: 10mm;
  right: 10mm;
  display: block;
  width: 198px;
  height: 60px;
  text-indent: -99999px;
  background-image: url("https://thesocialindex.com/wp-content/themes/scaffold/img/sprite.png");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-size: 320px 173px; }

a[href="http://www.amcharts.com"] {
  display: none !important; }

.balloon-text {
  font-size: 3.2mm; }

/* Reputation */
.reputation-badge {
  margin-left: 10mm;
  background-color: #fbda00;
  display: flex;
  width: 43mm;
  height: 43mm;
  position: relative;
  text-align: center;
  align-content: center;
  justify-content: center;
  border-radius: 100%;
  position: relative;
  -webkit-box-shadow: -46px 0px 0px -20px rgba(251, 217, 0, 0.2), -76px 0px 0px -30px rgba(251, 217, 0, 0.25);
  -moz-box-shadow: -46px 0px 0px -20px #fbd900, -76px 0px 0px -30px rgba(251, 217, 0, 0.25);
  box-shadow: -46px 0px 0px -20px rgba(251, 217, 0, 0.5), -76px 0px 0px -30px rgba(251, 217, 0, 0.25); }

.reputation-details {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center; }
  .reputation-details h1 {
    justify-content: center; }

.reputation-badge h1, .reputation-badge h2 {
  margin: 0;
  padding: 0; }

.reputation-badge h2 {
  color: #ffffff; }

.reputation-profile-scope {
  position: absolute;
  bottom: 0;
  background-color: #28387a;
  color: #fff;
  border-radius: 11mm;
  height: 10.7mm;
  padding: 0 5mm;
  font-weight: bold;
  font-size: 3.5mm;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  text-transform: uppercase;
  align-items: center; }

.reputation-profile-scope p {
  color: #FFFFFF;
  margin: 0;
  padding: 0; }

.reputation-profile-scope span {
  color: #fbda00;
  padding-right: 1.5mm; }

/* Connection summary */
.connections-summary {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }

.connections-summary-row {
  display: flex;
  flex-direction: row;
  min-width: 100%;
  height: 5mm; }

.connections-summary-row .icon {
  margin-top: -1mm;
  display: flex;
  flex-direction: column;
  width: 6mm;
  height: 6mm;
  min-width: 6mm;
  align-content: center;
  justify-content: center;
  background-color: #ca2128;
  border-radius: 100%; }
  .connections-summary-row .icon:before {
    color: #FFFFFF;
    display: flex;
    justify: center;
    align-content: center;
    align-self: center;
    font-size: 3mm; }

.connections-summary-row .connections-summary-count {
  display: flex;
  font-size: 5mm;
  font-weight: bold;
  padding: 0;
  margin: 0 2mm;
  align-items: center;
  font-size: 4mm; }

.connections-summary-row .connections-summary-count-type {
  opacity: 0.6;
  font-size: 3mm;
  justify-content: center;
  align-self: center;
  font-size: 2.5mm; }

.connections-summary-row .connections-summary-line {
  flex: 1;
  border-bottom: 1px solid #CCC; }

.connections-summary-row.pinterest {
  color: #ca2128; }
  .connections-summary-row.pinterest .connections-summary-count {
    color: #ca2128; }
  .connections-summary-row.pinterest .icon {
    background-color: #ca2128; }
  .connections-summary-row.pinterest .connections-summary-line {
    border-color: #ca2128; }

.connections-summary-row.facebook {
  color: #4368af; }
  .connections-summary-row.facebook .connections-summary-count {
    color: #4368af; }
  .connections-summary-row.facebook .icon {
    background-color: #4368af; }
  .connections-summary-row.facebook .connections-summary-line {
    border-color: #4368af; }

.connections-summary-row.twitter {
  color: #2ba8e0; }
  .connections-summary-row.twitter .connections-summary-count {
    color: #2ba8e0; }
  .connections-summary-row.twitter .icon {
    background-color: #2ba8e0; }
  .connections-summary-row.twitter .connections-summary-line {
    border-color: #2ba8e0; }

.connections-summary-row.instagram {
  color: #606364; }
  .connections-summary-row.instagram .connections-summary-count {
    color: #606364; }
  .connections-summary-row.instagram .icon {
    background-color: #606364; }
  .connections-summary-row.instagram .connections-summary-line {
    border-color: #606364; }

.connections-summary-row.linkedin {
  color: #2688c6; }
  .connections-summary-row.linkedin .connections-summary-count {
    color: #2688c6; }
  .connections-summary-row.linkedin .icon {
    background-color: #2688c6; }
  .connections-summary-row.linkedin .connections-summary-line {
    border-color: #2688c6; }

.personality-summary ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  justify-content: space-between; }
  .personality-summary ul li {
    font-size: 5mm;
    display: flex;
    flex-direction: row; }
    .personality-summary ul li i {
      display: block;
      border: 1mm solid #fbda00;
      border-radius: 100%;
      height: 2mm;
      width: 2mm;
      margin: 1mm 1mm 0 0;
      float: left; }
    .personality-summary ul li span {
      display: inline-block; }

.personality-summary strong {
  font-family: 'ProximaNovaRgBold';
  color: #28387a; }

.interests-icons img {
  width: 6mm;
  height: 6mm;
  margin: 1.5mm; }

.flags .flag-icon {
  width: 6mm;
  height: 4.5mm;
  margin: 1.5mm; }

.social-guage > div {
  height: 100%; }

.social-guage .legend {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%; }
  .social-guage .legend div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6mm;
    height: 6mm;
    font-size: 2.5mm;
    border-radius: 100%;
    color: #FFFFFF;
    font-family: 'ProximaNovaRgBold'; }
    .social-guage .legend div.pintrest {
      background-color: #ca2128; }
    .social-guage .legend div.facebook {
      background-color: #4368af; }
    .social-guage .legend div.twitter {
      background-color: #2ba8e0; }
    .social-guage .legend div.instagram {
      background-color: #606364; }
    .social-guage .legend div.linkedin {
      background-color: #2688c6; }

.influence-summary {
  display: flex; }
  .influence-summary ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    list-style: none;
    margin: 3mm 0 0 0;
    padding: 0; }
    .influence-summary ul li {
      padding: 0;
      font-size: 3mm;
      display: flex;
      width: 50%; }
      .influence-summary ul li i {
        margin: 0 3mm; }
  .influence-summary .success {
    color: #99ca67; }
  .influence-summary .warning {
    color: #fbda00; }

.recommendations-summary {
  display: flex; }
  .recommendations-summary ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    list-style: none;
    margin: 3mm 0 0 0;
    padding: 0; }
    .recommendations-summary ul li {
      padding: 0;
      font-size: 3mm;
      display: flex;
      width: 50%; }
      .recommendations-summary ul li i {
        margin: 0 3mm; }
  .recommendations-summary .success {
    color: #99ca67; }
  .recommendations-summary .warning {
    color: #fbda00; }

.timeline-circle:before, .timeline ul.legend li:before, .timeline ul.dates li:before {
  content: '';
  display: block;
  background-color: #FFFFFF;
  border: 1mm solid #fbda00;
  width: 5mm;
  height: 5mm;
  min-width: 5mm;
  min-height: 5mm;
  border-radius: 100%; }

.timeline-circle.promotion:before, .timeline ul.legend li.promotion:before, .timeline ul.dates li.promotion:before {
  content: '';
  display: block;
  background-color: #28387a;
  border: 1mm solid #fbda00;
  width: 2.5mm;
  height: 2.5mm;
  min-width: 2.5mm;
  min-height: 2.5mm;
  border-radius: 100%; }

.timeline-circle.promotion span, .timeline ul.legend li.promotion span, .timeline ul.dates li.promotion span {
  font-family: 'ProximaNovaRgBold'; }

.timeline {
  font-size: 2.5mm; }
  .timeline ul.legend {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 6mm; }
    .timeline ul.legend li {
      display: flex;
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-right: 3mm; }
      .timeline ul.legend li:before {
        margin-right: 1.5mm; }
      .timeline ul.legend li.unaccounted:before {
        border-radius: 0;
        height: 1mm;
        min-height: 1mm;
        background-color: #d9dce6;
        border: 0; }
      .timeline ul.legend li:last-child {
        margin-right: 0; }
  .timeline ul.dates {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row; }
    .timeline ul.dates li {
      position: relative;
      display: flex;
      flex: 1;
      flex-direction: row;
      align-items: center; }
      .timeline ul.dates li:last-child {
        max-width: 7mm;
        min-width: 7mm; }
        .timeline ul.dates li:last-child div.line {
          display: none; }
      .timeline ul.dates li.unaccounted:before {
        display: none; }
      .timeline ul.dates li.unaccounted span {
        display: none; }
      .timeline ul.dates li div.line {
        display: flex;
        width: 100%;
        height: 1mm;
        background-color: #fbda00; }
        .timeline ul.dates li div.line.unaccounted {
          background-color: #d9dce6; }
      .timeline ul.dates li span {
        position: absolute;
        transform: rotate(90deg);
        text-transform: uppercase;
        display: flex;
        height: 14mm;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        left: -10mm;
        top: 14mm;
        width: 25mm; }
      .timeline ul.dates li.promotion span {
        left: -4.5mm; }
      .timeline ul.dates li strong {
        position: absolute;
        max-width: 7mm;
        min-width: 7mm;
        text-align: center;
        top: -3.1mm;
        color: #28387a; }
