mixin connections_summary(name, width, height)
  include ./constants
  - var s = "width:" + width + "mm;" + "height:" + height + "mm"
  div.connections-summary(style=s)
    //- Determine if Pintrest data is available?
    div.connections-summary-row.pinterest
      div.icon.fab.fa-pinterest-p
      h5.connections-summary-count 10,110
      span.connections-summary-count-type Pins
      line.connections-summary-line
    //- Determine if Facebook data is available?
    div.connections-summary-row.facebook
      div.icon.fab.fa-facebook-f
      h5.connections-summary-count 879
      span.connections-summary-count-type Friends
      h5.connections-summary-count 120
      span.connections-summary-count-type Likes
      line.connections-summary-line
    //- Determine if Twitter data is available?
    div.connections-summary-row.twitter
      div.icon.fab.fa-twitter
      h5.connections-summary-count 879
      span.connections-summary-count-type Following
      h5.connections-summary-count 120
      span.connections-summary-count-type Followers
      h5.connections-summary-count 120
      span.connections-summary-count-type Retweets
      line.connections-summary-line
    //- Determine if Instagram data is available?
    div.connections-summary-row.instagram
      div.icon.fab.fa-instagram
      h5.connections-summary-count 879
      span.connections-summary-count-type Photos
      h5.connections-summary-count 120
      span.connections-summary-count-type Comments
      line.connections-summary-line
    //- Determine if Instagram data is available?
    div.connections-summary-row.linkedin
      div.icon.fab.fa-linkedin-in
      h5.connections-summary-count 879
      span.connections-summary-count-type Connections
      h5.connections-summary-count 120
      span.connections-summary-count-type Rec.
      h5.connections-summary-count 120
      span.connections-summary-count-type Groups
      line.connections-summary-line