- var fontFamily = "ProximaNovaRgRegular"
//- Colours
- var defaultColor = "#5A6277"
- var secondaryColor = "#7f88ae"
- var yellow = "#fbda00"
- var darkYellow = "#e8a722"

- var pintrestBrandColor = "#ca2128"
- var facebookBrancColor = "#4368af"
- var twitterBrandColor = "#2ba8e0"
- var instagramBrandColor = "#606364"
- var linkedinBrandColor = "#2688c6"

// Graph Options
- var bulletType = "round"
- var bulletSize = "12"
- var bulletBorderColor = "#FFFFFF"
- var bulletBorderThickness = "5"