mixin influence_summary(name,width,height)
    include ./constants
    - var s = "width:" + width + "mm;" + "height:" + height + "mm"
    //- 
    div.influence-summary(id=name,style=s)
        ul
            li 
                i.fas.fa-check-circle.success
                | Online Commentary
            li 
                i.fas.fa-check-circle.success
                | Check Spelling
            li 
                i.fas.fa-check-circle.success
                | Judgement
            li 
                i.fas.fa-exclamation-circle.warning
                | Check Grammar
    script.
        (function() {
            //
        })()