mixin interests_icons(name,width,height)
    include ./constants
    - var s = "width:" + width + "mm;" + "height:" + height + "mm"
    div.interests-icons(id=name,style=s)
    script.
        (function() {
            var interests = [
                {
                    "id":"93",
                    "title":"Education",
                    "image":"Reading",
                    "label":null,
                    "image_file":"https:\/\/dev.thesocialindex.com\/tsi\/assets\/report\/images\/icons\/Reading.png",
                    "has_own_icon":true
                },
                {
                    "id":"298",
                    "title":"Environmental Consultant",
                    "image":"Environment",
                    "label":null,
                    "image_file":"https:\/\/dev.thesocialindex.com\/tsi\/assets\/report\/images\/icons\/Environment.png",
                    "has_own_icon":true
                },
                {
                    "id":"194",
                    "title":"Political Candidate",
                    "image":"Politics",
                    "label":null,
                    "image_file":"https:\/\/dev.thesocialindex.com\/tsi\/assets\/report\/images\/icons\/Politics.png",
                    "has_own_icon":true
                },
                {
                    "id":"189",
                    "title":"Community",
                    "image":"Volunteering",
                    "label":null,
                    "image_file":"https:\/\/dev.thesocialindex.com\/tsi\/assets\/report\/images\/icons\/Volunteering.png",
                    "has_own_icon":true
                },
                {
                    "id":"302",
                    "title":"Mental Health Service",
                    "image":"Firstaid",
                    "label":null,
                    "image_file":"https:\/\/dev.thesocialindex.com\/tsi\/assets\/report\/images\/icons\/Firstaid.png",
                    "has_own_icon":true
                },
                {
                    "id":"300",
                    "title":"Alternative & Holistic Health Service",
                    "image":"Firstaid",
                    "label":null,
                    "image_file":"https:\/\/dev.thesocialindex.com\/tsi\/assets\/report\/images\/icons\/Firstaid.png",
                    "has_own_icon":true
                },
                {
                    "title":"Professional Service",
                    "image_file":"https:\/\/dev.thesocialindex.com\/tsi\/assets\/report\/images\/icons\/default.png",
                    "has_own_icon":false,
                    "letter":"P"
                },
                {
                    "id":"301",
                    "title":"Arts & Humanities Website",
                    "image":"Painting",
                    "label":null,
                    "image_file":"https:\/\/dev.thesocialindex.com\/tsi\/assets\/report\/images\/icons\/Painting.png",
                    "has_own_icon":true
                },
                {
                    "id":"14",
                    "title":"Artist",
                    "image":"Painting",
                    "label":null,
                    "image_file":"https:\/\/dev.thesocialindex.com\/tsi\/assets\/report\/images\/icons\/Painting.png",
                    "has_own_icon":true
                },
                {
                    "title":"Society & Culture Website",
                    "image_file":"https:\/\/dev.thesocialindex.com\/tsi\/assets\/report\/images\/icons\/default.png",
                    "has_own_icon":false,
                    "letter":"S"
                },
                {
                    "id":"62",
                    "title":"Community Organization",
                    "image":"Volunteering",
                    "label":"Community",
                    "image_file":"https:\/\/dev.thesocialindex.com\/tsi\/assets\/report\/images\/icons\/Volunteering.png",
                    "has_own_icon":true
                },
                {
                    "id":"297",
                    "title":"Community Service",
                    "image":"Volunteering",
                    "label":null,
                    "image_file":"https:\/\/dev.thesocialindex.com\/tsi\/assets\/report\/images\/icons\/Volunteering.png",
                    "has_own_icon":true
                },
                {
                    "title":"Business Service",
                    "image_file":"https:\/\/dev.thesocialindex.com\/tsi\/assets\/report\/images\/icons\/default.png",
                    "has_own_icon":false,
                    "letter":"B"
                },
                {
                    "title":"App Page",
                    "image_file":"https:\/\/dev.thesocialindex.com\/tsi\/assets\/report\/images\/icons\/default.png",
                    "has_own_icon":false,
                    "letter":"A"
                },
                {
                    "id":"299",
                    "title":"Live & Raw Food Restaurant",
                    "image":"Eating Out",
                    "label":null,
                    "image_file":"https:\/\/dev.thesocialindex.com\/tsi\/assets\/report\/images\/icons\/Eating Out.png",
                    "has_own_icon":true
                },
                {
                    "id":"86",
                    "title":"Author",
                    "image":"Reading",
                    "label":null,
                    "image_file":"https:\/\/dev.thesocialindex.com\/tsi\/assets\/report\/images\/icons\/Reading.png",
                    "has_own_icon":true
                },
                {
                    "id":"18",
                    "title":"Politician",
                    "image":"Politics",
                    "label":null,
                    "image_file":"https:\/\/dev.thesocialindex.com\/tsi\/assets\/report\/images\/icons\/Politics.png",
                    "has_own_icon":true
                },
                {
                    "id":"201",
                    "title":"Arts & Entertainment",
                    "image":"Theatre",
                    "label":null,
                    "image_file":"https:\/\/dev.thesocialindex.com\/tsi\/assets\/report\/images\/icons\/Theatre.png",
                    "has_own_icon":true
                },
                {
                    "id":"98",
                    "title":"Magazine",
                    "image":"Reading",
                    "label":null,
                    "image_file":"https:\/\/dev.thesocialindex.com\/tsi\/assets\/report\/images\/icons\/Reading.png",
                    "has_own_icon":true
                },
                {
                    "title":"",
                    "image_file":"https:\/\/dev.thesocialindex.com\/tsi\/assets\/report\/images\/icons\/default.png",
                    "has_own_icon":false,
                    "letter":false
                }
            ];

            // Remove default - invalid
            var cleanInterests = _.filter( interests, function(p){
                return typeof(p.id) !== 'undefined';
            });

            // Combine icons
            cleanInterests = _.uniqBy( cleanInterests, 'image_file');
            cleanInterests = _.map( cleanInterests, function(p){
                p.image_file = p.image_file.replace('dev.','');
                return p;
            });

            // Add images
            for(var k in cleanInterests) {
                appendImage(cleanInterests[k]);
            }

            function appendImage( props ) {
                var img = document.createElement("img");
                img.setAttribute("src", props.image_file);
                img.setAttribute("alt", props.title);
                img.setAttribute("title", props.title);
                document.getElementById("#{name}").appendChild(img);
            }
        })()