mixin international_experience(name,width,height)
    include ./constants
    - var s = "width:" + width + "mm;" + "height:" + height + "mm"
    div.flags(id=name,style=s)
    script.
        (function() {
            var positions = report.positions;
            var locations = _.map( positions, 'location' );

            // Only positions that have a specified country
            clean = _.filter( locations, function(l) { return l.country && l.country.code; } );
            // Ensure we don't duplicate countries
            clean = _.uniqBy( clean, function(l) {return l.country.code });

            // Add images
            for(var k in clean) {
                appendFlag(clean[k]);
            }

            function appendFlag( props ) {
                var div = document.createElement("div");
                div.setAttribute("class", "flag-icon flag-icon-" + props.country.code);
                div.setAttribute("title", props.country.name);
                document.getElementById("#{name}").appendChild(div);
            }
        })()