mixin languages(name,width,height)
    include ./constants
    - var s = "width:" + width + "mm;" + "height:" + height + "mm"
    div.flags(id=name,style=s)
    script.
        (function() {
            var languages = report.languages || [];

            // Remove default - invalid
            var clean = _.filter( languages, function(p){
                return typeof(p.name) !== 'undefined';
            });

            clean = _.map( clean, function(l){
                return {
                    'name': l.name,
                    'proficiency': l.proficiency,
                    'code': languageLookup[l.name.toLowerCase()]
                };
            });

            // Combine icons
            clean = _.uniqBy( clean, 'code');

            // Add images
            for(var k in clean) {
                appendFlag(clean[k]);
            }

            function appendFlag( props ) {
                var div = document.createElement("div");
                div.setAttribute("class", "flag-icon flag-icon-" + props.code);
                div.setAttribute("title", props.country);
                document.getElementById("#{name}").appendChild(div);
            }
        })()