mixin personality_summary(name, width, height)
  include ./constants
  - var s = "width:" + width + "mm;" + "height:" + height + "mm"
  div.personality-summary(id=name,style=s)
    ul
      li
        i
        span
          | you're&nbsp;
          strong Adventurous
      li
        i
        span
          | you're&nbsp;
          strong Eager to experience new things
      li
        i
        span
          | you're&nbsp;
          strong Comfortable with who you are
      li
        i
        span
          | you're&nbsp;
          strong Calm under pressure