mixin posting_activity(name, width, height, chartType, valueAxis)
    include ./constants
    - var s = "width:" + width + "mm;" + "height:" + height + "mm"
    div(id=name,style=s)
    if valueAxis
        script.
            var valueAxes#{name} = [{
                "id": "v1",
                "axisAlpha": 0,
                "position": "left",
                "inside": true,
                "offset": 5
            }];
    else
        script.
            var valueAxes#{name} = [{
                "axisAlpha": 0,
                "gridAlpha": 0.1,
                "labelsEnabled": false
            }];
    script.
        (function(){
            var data = report.posts_times.#{chartType};
            var chartData = [];
            var labelOffset = 8;
            for(var k in data) {
                var label = k;
                if( isFinite( parseInt(k)) ) {
                    label = k + ':00';
                    labelOffset = 0;
                }
                chartData.push({
                    'date': label,
                    'value': parseFloat(data[k])
                });
            }
            
            var chart = AmCharts.makeChart("#{name}", {
                "type": "serial",
                "theme": "light",
                "marginRight": 10,
                "fontFamily": "ProximaNovaRgRegular",
                "marginLeft": 10,
                "autoMarginOffset": 0,
                "dataDateFormat": "YYYY-MM-DD",
                "balloon": {
                    "borderThickness": 1,
                    "shadowAlpha": 0
                },
                "graphs": [{
                    "id": "g1",
                    "type": "smoothedLine",
                    "balloon": {
                        "drop": true,
                        "adjustBorderColor": false,
                        "color": "#ffffff",
                        "type": "smoothedLine",
                        "fontSize": 1
                    },
                    "lineColor": "#{yellow}",
                    "fillAlphas": 0.2,
                    "bullet": "#{bulletType}",
                    "bulletBorderAlpha": 1,
                    "bulletColor": "#FFFFFF",
                    "bulletSize": #{bulletSize},
                    "bulletBorderColor": "#{bulletBorderColor}",
                    "bulletBorderThickness": #{bulletBorderThickness},
                    "hideBulletsCount": 50,
                    "lineThickness": #{bulletBorderThickness},
                    "useLineColorForBulletBorder": true,
                    "valueField": "value",
                    "balloonText": "<span class='balloon-text'>[[value]]</span>"
                }],
                "chartCursor": {
                    "valueLineEnabled": true,
                    "valueLineBalloonEnabled": true,
                    "cursorAlpha": 0,
                    "zoomable": false,
                    "valueZoomable": true,
                    "valueLineAlpha": 0.5
                },
                "valueAxes": valueAxes#{name},
                "categoryField": "date",
                "categoryAxis": {
                    "dashLength": 1,
                    "minorGridEnabled": true,
                    "gridEnabled": false,
                    "centerRotatedLabels": true,
                    "labelRotation": 90,
                    "labelOffset": labelOffset
                },
                "dataProvider": chartData
            });
        })();