mixin recommendations_summary(name,width,height)
    include ./constants
    - var s = "width:" + width + "mm;" + "height:" + height + "mm"
    div.recommendations-summary(id=name,style=s)
        ul
            li 
                i.fas.fa-exclamation-circle.warning
                | Connect with industry
            li 
                i.fas.fa-exclamation-circle.warning
                | Become more active
    script.
        (function() {
            //
        })()