mixin social_guage(name, width, height)
    include ./constants
    - var s = "width:" + width + "mm;" + "height:" + height + "mm"
    div.group.pure-g.social-guage(style=s)
        div.pure-u-1-5
            div.legend
                .pintrest 80%
                .facebook 35%
                .twitter 92%
                .instagram 68%
                .linkedin 68%

        div.pure-u-4-5(id=name)
    script.
        (function() {
            var gaugeChart = AmCharts.makeChart("#{name}", {
                "type": "gauge",
                "theme": "light",
                "fontFamily": "ProximaNovaRgRegular",
                "showBalloon": false,
                "axes": [{
                    "axisAlpha": 0,
                    "tickAlpha": 0,
                    "labelsEnabled": false,
                    "startValue": 0,
                    "endValue": 100,
                    "startAngle": 0,
                    "endAngle": 360,
                    "bands": [{
                        "color": "#eee",
                        "startValue": 0,
                        "endValue": 100,
                        "radius": "95%",
                        "innerRadius": "90%"
                    }, {
                        "color": "#{pintrestBrandColor}",
                        "startValue": 0,
                        "endValue": 80,
                        "radius": "95%",
                        "innerRadius": "90%",
                        "balloonText": "90%"
                    }, {
                        "color": "#eee",
                        "startValue": 0,
                        "endValue": 100,
                        "radius": "80%",
                        "innerRadius": "75%"
                    }, {
                        "color": "#{facebookBrancColor}",
                        "startValue": 0,
                        "endValue": 35,
                        "radius": "80%",
                        "innerRadius": "75%",
                        "balloonText": "35%"
                    }, {
                        "color": "#eee",
                        "startValue": 0,
                        "endValue": 100,
                        "radius": "65%",
                        "innerRadius": "60%"
                    }, {
                        "color": "#{twitterBrandColor}",
                        "startValue": 0,
                        "endValue": 92,
                        "radius": "65%",
                        "innerRadius": "60%",
                        "balloonText": "92%"
                    }, {
                        "color": "#eee",
                        "startValue": 0,
                        "endValue": 100,
                        "radius": "50%",
                        "innerRadius": "45%"
                    }, {
                        "color": "#{instagramBrandColor}",
                        "startValue": 0,
                        "endValue": 68,
                        "radius": "50%",
                        "innerRadius": "45%",
                        "balloonText": "68%"
                    }, {
                        "color": "#eee",
                        "startValue": 0,
                        "endValue": 100,
                        "radius": "35%",
                        "innerRadius": "30%"
                    }, {
                        "color": "#{linkedinBrandColor}",
                        "startValue": 0,
                        "endValue": 68,
                        "radius": "35%",
                        "innerRadius": "30%",
                        "balloonText": "68%"
                    }]
                }],
                "export": {
                    "enabled": true
                }
            });
        })();