mixin timeline_career(name, width, height)
    include ./constants
    - var s = "width:" + width + "mm;" + "height:" + height + "mm"
    div.timeline(name=name, style=s)
        ul.legend
            li.job Job
            li.promotion Promotion
            li.unaccounted Unaccounted
        ul.dates(id=name)
            
    script.
        (function(){
            var positions = report.positions;
            var unaccounted = report.unaccounted || [];

            var clean = _.map( positions, function(p){
                var sd = p.startdate
                var fd = p.finishdate;
                return {
                    'startdate': sd,
                    'finishdate': fd,
                    'title': p.title,
                    'company_name': p.company.name,
                    'start_percentage': p.graph_info.start_percentage,
                    'finish_percentage': p.graph_info.finish_percentage,
                    'diff': (p.graph_info.finish_percentage - p.graph_info.start_percentage),
                    'promotion': p.promotion,
                    'unaccounted': false
                };
            });

            var cleana = _.map( unaccounted, function(p){
                var sd = p.startdate
                var fd = p.finishdate;
                return {
                    'startdate': { 'date': new Date(p.starttime).toISOString() },
                    'finishdate': { 'date': new Date(p.finishtime).toISOString() },
                    'company_name': 'unaccounted',
                    'start_percentage': p.graph_start_percentage,
                    'finish_percentage': p.graph_end_percentage,
                    'diff': (p.graph_end_percentage - p.graph_start_percentage),
                    'promotion': false,
                    'unaccounted': true
                };
            });

            var sorted = _.sortBy(clean.concat(cleana), 'start_percentage');

            var year = null;

            _.each( sorted, function(position){
                // Bullet
                var li = document.createElement("li");                  // Create a <li> node
                li.className = !(position.promotion)?'job':'promotion';
                li.className += (position.unaccounted)?' unaccounted':' accounted';
                li.style = 'flex:' + position.diff;

                // Line
                var div = document.createElement("div");                 // Create a <li> node
                div.className = position.unaccounted?'line unaccounted':'line';

                // Company name
                var span = document.createElement("span");
                span.innerHTML = position.company_name;

                // Title
                var date = position.startdate.date.split(' ')[0];
                var positionYear = date.split('-')[0];
                span.title = date;

                // Add line and Company
                li.appendChild(div);
                li.appendChild(span);

                // Show year on change
                if( year !== positionYear && positionYear !== '1970') {
                    var strong = document.createElement("strong");
                    strong.innerHTML = positionYear;
                    li.appendChild(strong);

                    year = positionYear;
                }

                // Add list item
                document.getElementById("#{name}").appendChild(li);     // Append <li> to <ul> with id="myList"
            });
        })();