mixin word_cloud(name,width,height)
  include ./constants
  canvas(id=name,width=width,height=height)
  script.
    (function (){
      // a4 apaper width = 210mm
      var sheetWidth = document.getElementsByClassName('sheet')[0].offsetWidth;
      var prop = sheetWidth / 210;
      var w = #{width} * prop;
      var h = #{height} * prop;
      var canvas = document.getElementById('skills-cloud');
      canvas.width = w;
      canvas.height = h;
      canvas.style.letterSpacing = "0px";

      // Grab skills from data
      var skills = report.skills;
      // Ensure endorsements are numbers
      var clean = _.map( skills, function(s) {
        return {
          'name': s.name, 
          'endorsements': parseInt(s.endorsements||'0')
        }
      });

      // Take away any skills that have not been endorsed
      clean = _.filter( clean, function(s) { return s.endorsements>1; });

      // Work out the ratio
      var maxItem = _.maxBy( clean, 'endorsements');
      var max = maxItem?maxItem.endorsements:1;
      var ratio = 24 / max;

      // Apply the ratio
      clean = _.map( clean, function(s){
        var normalised = parseInt(s.endorsements*ratio);
        return {
          'name': s.name, 
          'endorsements': (normalised>4?normalised:6)
        }
      });

      // Format the array for canvas draw
      var list = _.map( clean, function(s) { return [ s.name, parseInt(s.endorsements )]} );
      var config = {
        "list": list,
        "gridSize": Math.round(24 * w / 1024),
        "fontFamily": "ProximaNovaRgRegular",
        "weightFactor": function (size) {
          return Math.pow(size, 1.8) * w / 1024;
        },
        "color": function (word, weight) {
          return (weight >= 11) ? '#{defaultColor}' : '#{secondaryColor}';
        },
        rotateRatio: 0,
        rotationSteps: 0,
      };
      WordCloud(
        document.getElementById('#{name}'), config );
    })();