$pageColor: #f3f7f8;

$light: #FFFFFF;
$defaultColor: #5A6277;
$secondaryColor:#7f88ae;
$grey: #d9dce6;
$blue: #28387a;
$green: #99ca67;
$yellow:#fbda00;
$darkYellow:#e8a722;

$pintrestBrandColor:#ca2128;
$facebookBrancColor:#4368af;
$twitterBrandColor:#2ba8e0;
$instagramBrandColor:#606364;
$linkedinBrandColor:#2688c6;

section.sheet {
    background-color: $pageColor;
}

ul li {
    color: $secondaryColor;
}