$connections-summary-row-height: 5mm;

/* Connection summary */
.connections-summary {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.connections-summary-row {
  display: flex;
  flex-direction: row;
  min-width: 100%;
  height: $connections-summary-row-height;
}

.connections-summary-row {
  .icon {
    margin-top: -1mm;
    display: flex;
    flex-direction: column;
    width: $connections-summary-row-height + 1mm;
    height: $connections-summary-row-height + 1mm;
    min-width: $connections-summary-row-height + 1mm;
    align-content: center;
    justify-content: center;
    background-color: $pintrestBrandColor;
    border-radius: 100%;
    &:before {
      color: #FFFFFF;
      display: flex;
      justify: center;
      align-content: center;
      align-self: center;
      font-size: 3mm;
    }
  }
  .connections-summary-count {
    display: flex;
    font-size: $connections-summary-row-height;
    font-weight: bold;
    padding: 0;
    margin: 0 2mm;
    align-items: center;
    font-size: $number-font-size;
  }
  .connections-summary-count-type {
    opacity: 0.6;
    font-size: $connections-summary-row-height - 2mm;
    justify-content: center;
    align-self: center;
    font-size: $label-font-size;
  }
  .connections-summary-line {
    flex: 1;
    border-bottom: 1px solid #CCC;
  }
}

.connections-summary-row {
  // Pinterest
  &.pinterest {
    color: $pintrestBrandColor;
    .connections-summary-count {
      color: $pintrestBrandColor;
    }
    .icon {
      background-color: $pintrestBrandColor;
    }
    .connections-summary-line {
      border-color: $pintrestBrandColor; 
    }
  }
  
  // facebook
  &.facebook {
    color: $facebookBrancColor;
    .connections-summary-count {
      color: $facebookBrancColor;
    }
    .icon {
      background-color: $facebookBrancColor;
    }
    .connections-summary-line {
      border-color: $facebookBrancColor; 
    }
  }
  
  // Twitter
  &.twitter {
    color: $twitterBrandColor;
    .connections-summary-count {
      color: $twitterBrandColor;
    }
    .icon {
      background-color: $twitterBrandColor;
    }
    .connections-summary-line {
      border-color: $twitterBrandColor; 
    }
  }
  
  // Instagram
  &.instagram {
    color: $instagramBrandColor;
    .connections-summary-count {
      color: $instagramBrandColor;
    }
    .icon {
      background-color: $instagramBrandColor;
    }
    .connections-summary-line {
      border-color: $instagramBrandColor; 
    }
  }
  
  // Instagram
  &.linkedin {
    color: $linkedinBrandColor;
    .connections-summary-count {
      color: $linkedinBrandColor;
    }
    .icon {
      background-color: $linkedinBrandColor;
    }
    .connections-summary-line {
      border-color: $linkedinBrandColor; 
    }
  }
}