@font-face {
    font-family: 'ProximaNovaRgBold';
    src: url('https://cdn.jsdelivr.net/npm/font-proxima-nova@1.0.1/fonts/ProximaNova-Bold.eot');
    src: url('https://cdn.jsdelivr.net/npm/font-proxima-nova@1.0.1/fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/npm/font-proxima-nova@1.0.1/fonts/ProximaNova-Bold.woff') format('woff'),
         url('https://cdn.jsdelivr.net/npm/font-proxima-nova@1.0.1/fonts/ProximaNova-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaRgRegular';
    src: url('https://cdn.jsdelivr.net/npm/font-proxima-nova@1.0.1/fonts/ProximaNova-Regular.eot');
    src: url('https://cdn.jsdelivr.net/npm/font-proxima-nova@1.0.1/fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/npm/font-proxima-nova@1.0.1/fonts/ProximaNova-Regular.woff') format('woff'),
         url('https://cdn.jsdelivr.net/npm/font-proxima-nova@1.0.1/fonts/ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    margin-top: 0;
    padding-top: 0;
    font-size: 5mm;
}

h1, h2, h3, .balloon-text {
    font-family: 'ProximaNovaRgBold';
    font-weight: normal;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

h2 {
    font-size: 3.9mm;
}

h3 {
    font-size: 3.7mm;
}

h4, h5 {
    font-family: 'ProximaNovaRgRegular';
    color: $secondaryColor;
    font-size: $ptextSize;
}

p {
    font-family: 'ProximaNovaRgRegular';
    font-size: $ptextSize;
    color: $secondaryColor;
    margin: $iconSpacing 0;
}