.sheet.padding-10mm { padding: 8mm 10mm; }

section {
    overflow: hidden;
}

header {
    height: 16.5mm;
}

h1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin:0 0 $generalSpacing 0;
    font-size: 5mm;
}

.row {
    position: relative;
    margin-bottom: $boxPadding * 2;
    &.no-margin {
        margin-bottom: 0;
    }
}
.box {
    background-color: $light;
    padding: $boxPadding;
    border-radius: $boxPadding;

    hr {
        border:0;
        padding: $boxPadding 0;
    }
}

.box-inner {
    background-color: $light;
    padding: $boxPadding;
    border-radius: $boxPadding;
    margin-right: $boxPadding * 2;
    &.no-margin {
        margin-right: 0;
    }
}

.pill {
    font-family: 'ProximaNovaRgBold';
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    color: $yellow;
    background-color: $blue;
    min-width: 20mm;
    border-radius: $generalSpacing + $label-font-size;
    font-size: $label-font-size;
    text-transform: uppercase;
    height: $circleDiameter;
}

h1 span.pill {
    @extend .pill;
    margin-left: $generalSpacing * 2;
}

.pill.top-right {
    position: absolute;
    top: $generalSpacing;
    right: $generalSpacing;
}

section.sheet:before {
    content: '';
    position: absolute;
    top: 10mm;
    right: 10mm;
    display: block;
    width: 198px;
    height: 60px;
    text-indent: -99999px;
    background-image: url('https://thesocialindex.com/wp-content/themes/scaffold/img/sprite.png');
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 320px 173px;
}