.personality-summary {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    justify-content: space-between;
    li {
      font-size: 5mm;
      display: flex;
      flex-direction: row;
      i {
        display: block;
        border: $borderWidth solid $yellow;
        border-radius: 100%;
        height: 2mm;
        width: 2mm;
        margin: 1mm 1mm 0 0;
        float: left;
      }
      span {
        display: inline-block;
      }
    }
  }
  strong {
    font-family: 'ProximaNovaRgBold';
    color: $blue;
  }
}