.recommendations-summary {
    display: flex;
    ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-around;
        list-style: none;
        margin: $generalSpacing 0 0 0;
        padding: 0;
        li {
            padding: 0;
            font-size: $ptextSize;
            display: flex;
            width: 50%;
            i {
                margin: 0 $generalSpacing;
            }
        }
    }

    .success {
        color: $green;
    }

    .warning {
        color: $yellow;
    }
}