/* Reputation */
.reputation-badge {
  margin-left: 10mm;
  background-color: $yellow;
  display: flex;
  width: 43mm;
  height: 43mm;
  position: relative;
  text-align: center;
  align-content: center;
  justify-content: center;
  border-radius: 100%;
  position: relative;
  
  -webkit-box-shadow: -46px 0px 0px -20px rgba(251,217,0,0.2), -76px 0px 0px -30px rgba(251,217,0,0.25);
  -moz-box-shadow: -46px 0px 0px -20px rgba(251,217,0,1), -76px 0px 0px -30px rgba(251,217,0,0.25);
  box-shadow: -46px 0px 0px -20px rgba(251,217,0,0.5), -76px 0px 0px -30px rgba(251,217,0,0.25);
}

.reputation-details {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;

  h1 {
    justify-content: center;
  }
}

.reputation-badge h1, .reputation-badge h2 {
  margin: 0;
  padding: 0;
}

.reputation-badge h2 {
  color: #ffffff;
}

.reputation-profile-scope {
  position: absolute;
  bottom: 0;
  background-color: #28387a;
  color: #fff;
  border-radius: 11mm;
  height: 10.7mm;
  padding: 0 5mm;
  font-weight: bold;
  font-size: 3.5mm;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  text-transform: uppercase;
  align-items: center;
}

.reputation-profile-scope p {
  color: $light;
  margin: 0;
  padding: 0;
}

.reputation-profile-scope span {
  color: $yellow;
  padding-right: 1.5mm;
}