$generalSpacing: 3mm;

$boxPadding: 1.7mm;
$circleDiameter: 6mm;
$borderWidth: 1mm;

$timelineCircleDiameter: 5mm;

// 4x3 ratio
$flagWidth: 6mm;
$flagHeight: 4.5mm;
$iconSpacing: 1.5mm;

$ptextSize: 3mm;
$label-font-size: 2.5mm;
$number-font-size: 4mm;
$titleTextSize: 4mm;