.social-guage {
    & > div {
        height: 100%;
    }
    .legend {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 100%;

        div {
            display: flex;
            // align-content: center;
            align-items: center;
            justify-content: center;
            width: $circleDiameter;
            height: $circleDiameter;
            font-size: $label-font-size;
            border-radius: 100%;
            color: $light;
            font-family: 'ProximaNovaRgBold';

            &.pintrest {
                background-color: $pintrestBrandColor;
            }
            &.facebook {
                background-color: $facebookBrancColor;
            }
            &.twitter {
                background-color: $twitterBrandColor;
            }
            &.instagram {
                background-color: $instagramBrandColor;
            }
            &.linkedin {
                background-color: $linkedinBrandColor;
            }
        }
    }
}