.timeline-circle {
    &:before {
        content: '';
        display: block;
        background-color: $light;
        border: $borderWidth solid $yellow;
        width: $timelineCircleDiameter;
        height: $timelineCircleDiameter;
        min-width: $timelineCircleDiameter;
        min-height: $timelineCircleDiameter;
        border-radius: 100%;
    }

    &.promotion {
        &:before {
            content: '';
            display: block;
            background-color: $blue;
            border: $borderWidth solid $yellow;
            width: $timelineCircleDiameter / 2;
            height: $timelineCircleDiameter / 2;
            min-width: $timelineCircleDiameter / 2;
            min-height: $timelineCircleDiameter / 2;
            border-radius: 100%;
        }

        span {
            font-family: 'ProximaNovaRgBold';
        }
    }
}

.timeline {
    font-size: $label-font-size;
    ul.legend {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-bottom: $generalSpacing * 2;
        li {
            display: flex;
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-right: $generalSpacing;

            @extend .timeline-circle;

            &:before {
                margin-right: $generalSpacing / 2;
            }

            &.unaccounted:before {
                border-radius: 0;
                height: $borderWidth;
                min-height: $borderWidth;
                background-color: $grey;
                border: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
    ul.dates {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        li {
            position: relative;
            display: flex;
            // Widths controlled using flex numbers
            flex: 1;
            flex-direction: row;
            align-items: center;

            // Don't show line on last item
            &:last-child {
                max-width: $timelineCircleDiameter + ($borderWidth*2);
                min-width: $timelineCircleDiameter + ($borderWidth*2);
                div.line {
                    display: none;
                }
            }

            // Circle
            @extend .timeline-circle;

            &.unaccounted:before {
                display: none;
            }

            &.unaccounted span {
                display: none;
            }

            // Line between items (not this should not be displayed for the last item)
            div.line {
                display: flex;
                width: 100%;
                height: $borderWidth;
                background-color: $yellow;

                &.unaccounted {
                    background-color: $grey;
                }
            }

            // Label
            span {
                position: absolute;
                transform: rotate(90deg);
                text-transform: uppercase;

                display: flex;
                height: 14mm;
                flex-direction: column;
                align-content: center;
                justify-content: center;
                left: -10mm;
                top: 14mm;
                width: 25mm;
            }

            &.promotion span {
                left: -4.5mm;
            }

            strong {
                position: absolute;
                max-width: $timelineCircleDiameter + ($borderWidth*2);
                min-width: $timelineCircleDiameter + ($borderWidth*2);
                text-align: center;
                top: -3.1mm;
                color: $blue;
            }
        }
    }
}